.header {
    background-image: url('https://i.pinimg.com/736x/f9/3f/cb/f93fcb9d70601196aeb4a4ed71578c82.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.name-overlay {
    font-size: 3rem;
}